{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'basliq.html' %}

<body class="host_version">
    {% include 'navbar.html' %}

    <!-- Modal -->
    {% include 'registr.html' %}
    <!-- END LOADER -->

    <!-- Start header -->

    <!-- End header -->

    <div class="all-title-box">
        <div class="container text-center">
            <h1>Courses<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
        </div>
    </div>

    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row" id="myrow">
                <div class="col-lg-9 blog-post-single">
                    <div class="row row-cols-1 row-cols-md-3 g-4" id="card-lists">
                        {% for course in courses %}
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{course.image.url}}" class="card-img-top" alt=" ">
                                <div class="card-body">
                                    <a href="{% url 'course_detail' course.id %}" title="" class="card-title">
                                    {{course.name}}
                                    </a>
                                    <p class="card-text">{{course.description}}</p>
                                   
                                    
                                    <div class="course-meta-bot">
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true">:{{course.date |date:"d M Y"}}</i></li>
                                            <li><i class="fa fa-calendar" aria-hidden="true">:{{course.students.count}}</i></li> 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        {% endfor %}
                        <!-- end col -->
                    </div>

                </div>
                {% include 'search.html'%}
            </div>


            <!-- end row -->





            <!-- end col -->


            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->


    <!-- end section -->
    {% include 'footer_courses.html' %}
    <!-- end footer -->

   
    <!-- end copyrights -->

    

    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %} "></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %} "></script>
    <script src="{% static 'js/search.js' %}"></script>
    
    <style>
        a {
            font-size: 16px;
        }
        
        a:hover {
            color: orange;
            font-size: 18px;
            cursor: pointer;
            transition: 1s;
        }
    </style>


</body>

</html>